@use '../../../styles/values/colors' as colors;
@use '../../../styles/values/dimensions' as dimensions;

.page-layout {
  margin: 0 auto;

  &__header {
    align-items: center;
    background-color: colors.$main--blue;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05),
                0 2px 4px rgba(0,0,0,0.05),
                0 4px 8px rgba(0,0,0,0.05),
                0 8px 16px rgba(0,0,0,0.05),
                0 16px 32px rgba(0,0,0,0.05),
                0 32px 64px rgba(0,0,0,0.05);
    color: colors.$white;
    display: flex;
    height: dimensions.$header-height;
    left: 0;
    padding: dimensions.$spacing--base;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  &__content {
    padding: dimensions.$spacing--base;
    padding-top: calc(#{dimensions.$header-height} + 1rem);
  }
}
