$font-name--source-sans: 'Source Sans Pro';
$font-name--raleway: 'Raleway';

$font-family--body: $font-name--source-sans, sans-serif;
$font-family--heading: $font-name--raleway, sans-serif;

$font-size--base: 18px;

$font-weight--regular: 400;
$font-weight--bold: 700;

$line-height--base: 1.4;
