@use '../../../styles/values/colors' as colors;

.round-timer {
  text-align: center;
  width: 100%;

  &__output {
    position: relative;
    margin: 0 auto;
    max-width: 150px;

    &-circle {
      fill: none;
      transform: rotate(-90deg);

      &-background {
        stroke: colors.$main--blue-faded;
      }

      &-progress {
        stroke: colors.$main--blue;
      }
    }

    &-text {
      color: colors.$main--blue;
      font-size: 1.5rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__button {
    margin: 1rem auto 0;
  }
}
