@use '../../../styles/values/colors' as colors;

.secondary-button {
  background-color: colors.$main--blue;
  border-radius: 30px;
  color: colors.$white;
  padding: 0.5rem 1rem;
  text-align: center;


  &:disabled {
    opacity: 0.25;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      background-color: lighten(colors.$main--blue, 2.5%);
    }


    &:active {
      background-color: lighten(colors.$main--blue, 5%);
    }
  }
}
