@use '../../../styles/values/colors' as colors;

.secondary-button {
  background-color: colors.$gray;
  border-radius: 30px;
  color: colors.$white;
  padding: 1rem;
  text-align: center;
  width: 100%;

  &:disabled {
    opacity: 0.25;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      background-color: lighten(colors.$gray, 2.5%);
    }


    &:active {
      background-color: lighten(colors.$gray, 5%);
    }
  }
}
