@use '../../../styles/values/colors' as colors;
@use '../../../styles/values/dimensions' as dimensions;

.dialog-layout {
  background-color: colors.$white;
  display: flex;
  height: 100%;
  left: 0;

  position: fixed;
  top : 0;
  // top: dimensions.$header-height;
  width: 100%;

  // &--full {
  //   top: 0;
  // }

  &__close {
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: #fff;

    &::after,
    &::before {
      background-color: colors.$black;
      content: '';
      display: block;
      height: 40%;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 1px;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    padding: 3rem 1rem 1rem;
  }
}
