@use './values/colors' as colors;

html {
  background-color: colors.$bg--base;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}


button {
  border: 0;
}
