@use './values/typography' as typography;

html {
  font-family: typography.$font-family--body;
  font-size: typography.$font-size--base;
  line-height: typography.$line-height--base;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: typography.$font-family--heading;
  font-weight: typography.$font-weight--bold;
}
